body{
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.bola{
    width: 50px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    border: 1px solid black;
}

.red{background-color: red;};
.green{background-color: green;}
.yellow{background-color: yellow;}
.blue{background-color: blue;}
.orange{background-color: orange;}
.pink{background-color: pink;}

button{
    margin: 0;
    border-radius: 5px;
}

#start--game{
    display: relative;
    position: fixed;
    left: 45%;
    top: 45%; 
    padding: 10px;
    background-color: brown;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

aside {
    display: flex;
    width: 0; /* 20vw */
    height: 100vh;
    background-color: brown;
    flex-direction: column;
}

.tela--game{
    flex: 1;
    height: 100vh;
    background-color: #555;
}

#contador{
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#contador span{
    color: #fff;
    font-size: 120px;
    font-weight: bold;
}
#niveis{
    color: #fff;
    font-size: 50px;
    margin: 0 20px;
}
#niveis button{
    font-size: 20px;
    width: 100%;
    background-color: brown;
    color: #fff;
    margin-bottom: 10px;
}
#niveis button span{
    font-size: 10px;
}
#niveis h4{
    margin: 0s;
}
#niveis p{
    font-size: 20px;
}
.models{
    display: none;
}
#niveis .niveis-btn {
    display: flex;
    flex-direction: column;
}